
<h1><%= @user.email %></h1>




<!-- Skills Section -->
  <div class="skills-section">
    <h3>Skills</h3>
    <div class="skills">
      <% @skills.each do |skill| %>
        <div class="skill">
          <strong><%= skill.name %></strong>
        </div>
      <% end %>
    </div>
  </div>
