<H1>This is the show page</H1>

<%# <h1><%= @user.email %>



<!-- Skills Section -->
  <%# <div class="skills-section">
    <h3>Skills</h3>
    <div class="skills">
      <% @skills.each do |skill| %>
        <%# <div class="skill">
          <strong><%= skill.name %>
        <%# </div>
      <% end %>
    <%# </div>
  </div>


<%= link_to "Go to Chat", user_skill_requests_path(@user.user_skills.first), data:{turbo_method: :post}, class: "btn btn-primary" %>
