<div class="search">
  <%= form_with url: user_skills_path , :method => :get do %>
    <%= text_field_tag :query,
            params[:query],
            placeholder: "Search"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
</div>
<div class="container-home">
  <h1>GIVE!</h1>
  <p>Hello World! this is our Home page with some infromation about the app.</p>
</div>
