.chat {
  background: white;
  margin-top: 9px;
  margin-bottom: 30px;
  height: calc(78vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  border-radius: 15px;

  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }

  .message-info {
    opacity: 0.5;
    text-align: center;
    width: fit-content;
  }

  .message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .message.sent .message-content {
    align-self: flex-start;
    background: $blue;
    color: $light-gray;
  }

  .message.received .message-content {
    align-self: flex-end;
    background: $gray-200;
  }


  .request-header {
    border-bottom: 1px solid gray;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
.container-chat {
  display: flex;
  justify-content: center; /* Zentriert die Buttons */
  gap: 10px; /* Abstand zwischen den Buttons */
  width: 100%;
  gap: 5px;
}

.message-solved {
  flex: 1;
  margin-top: 5px;
  text-decoration: none;
  background-color: rgb(87, 155, 87);
  font-size: 15px;
  padding: 10px 35px;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
}
.message-cancel {
  flex: 1;
  margin-top: 5px;
  text-decoration: none;
  background-color: hwb(349 26% 3%);
  font-size: 15px;
  padding: 10px 35px;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
}

.messagebackbutton {
  display: flex;
  color: Black;
  font-weight: bold;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.shadowchat {
  z-index: 2000;
}
