@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 1. Primary Heading (Hauptüberschrift) */
h1{
  font-family: "Sansita Swashed", system-ui;
  font-size: 35px; /* Oder eine gewünschte Größe */
  letter-spacing: 2px; /* Abstand zwischen den Buchstaben */
  text-shadow:
  -0.5px -0.5px 0 yellow,
  0.5px -0.5px 0 yellow,
 -0.5px  0.5px 0 yellow,
  0.5px  0.5px 0 yellow;
font-weight: bold;
}

/* 2. Secondary Heading (Unterüberschrift) */
h2 {
  font-family: "Sansita Swashed", system-ui;
  font-size: 25px; /* Kleinere Größe als Primary */
  font-weight: 600;
  letter-spacing: 2px; /* Abstand zwischen den Buchstaben */
  text-shadow:
  -0.5px -0.5px 0 yellow,
  0.5px -0.5px 0 yellow,
 -0.5px  0.5px 0 yellow,
  0.5px  0.5px 0 yellow;
font-weight: bold;
}

/* 3. Bold Text (Allgemeiner fettgedruckter Text) */
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 15px; /* Standardgröße */
  font-weight: 700;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 15px; /* Standardgröße */
  font-weight: 700;
}

/* 4. Regular Text (Allgemeiner normaler Text) */
h5 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
