.navbar-default {
  justify-content: space-between;
  background: lightcoral
}
.navbar-giver {
  background: lightcoral
}
.navbar-taker {
  background: lightcoral
}

.navbar-default .navbar-collapse {
  flex-grow: 0;
}

.navbar-default .navbar-brand img {
  width: 40px;
}
