.navbar-default {
  flex-direction: row-reverse;
  justify-content: space-between;
  background: lightcoral;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000
}
.navbar-giver {
  background: lightcoral
}
.navbar-taker {
  background: lightcoral
}

.navbar-default .navbar-brand img {
  width: 75px;
}

.button-GIVE {
  width: 75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 23px;
}
