.navbar-default {
  flex-direction: row-reverse;
  justify-content: space-between;
  background: lightcoral;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000
}
.navbar-giver {
  background: lightcoral
}
.navbar-taker {
  background: lightcoral
}

.navbar-default .navbar-collapse {
  // flex-grow: 0;
}

.navbar-default .navbar-brand img {
  width: 75px;
}

.button-GIVE {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 23px;
}

.navbar-dropdown-menu {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 50px;
}

.menu-item {

}
