.logout-button {
  background-color: yellow;
  color: black;
  padding: 15px;
  font-size: 18px;
  // border: none;
  border-radius: 15px; /* Keine abgerundeten Ecken für volle Breite */
  // font-size: 18px;
  text-align: center;
  width: 100%;
  display: block;
}
