.search-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  // max-width: 400px;
  margin: auto;
}




.search_query {
  flex-grow: 1;
  // padding: 10px;
  border: none;
  background-color: white;
  outline: none;
  margin-bottom: 0px;
}

// .search-input {
//   flex-grow: 1;
//   padding: 10px;
//   border: none;
//   background-color: white;
//   outline: none;
// }

.search-button:hover {
  background-color: coral;
}

// OVERWRITING TOM SELECT AND BOOTSTRAP, DANGER
#skill-search .form-select {
  padding: 0px !important;
  border: none;
}

#skill-search .search-button {
  background-color: lightcoral;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  max-height: 37px;
}

#skill-search .search-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}


#skill-search .search-wrapper>div {
  margin-bottom: 0px !important;
}

.ts-dropdown {
  width: 100%;
  position: relative;
}
